#root {
  viewport-fill: black;
  fill: palegoldenrod;
}

#background {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  fill:black;
}

#348-time-hour10 {
  font-size: 100;
  font-family: Colfax-Regular;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-265;
  y: 160;
  display: none;
}

#348-time-hour1 {
  font-size: 100;
  font-family: Colfax-Regular;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-205;
  y: 160;
  display: none;
}

#348-time-colon {
  font-size: 100;
  font-family: Seville-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-180;
  y: 153;
  display: none;
}

#348-time-minute10 {
  font-size: 100;
  font-family: Colfax-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-120;
  y: 160;
  display: none;
}

#348-time-minute1 {
  font-size: 100;
  font-family: Colfax-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-60;
  y: 160;
  display: none;
}

#348-am-pm {
  font-size: 38;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: end;
  x: 100%-5;
  y: 120;
  fill: white;
  display: none;
}

#348-second10 {
  font-size: 38;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: end;
  x: 100%-28;
  y:160;
  fill: white;
  display: none;
}

#348-second1 {
  font-size: 38;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: end;
  x: 100%-5;
  y:160;
  fill: white;
  display: none;
}

#300-time-hour10 {
  font-size: 100;
  font-family: Colfax-Regular;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-225;
  y: 175;
  display: none;
}

#300-time-hour1 {
  font-size: 100;
  font-family: Colfax-Regular;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-165;
  y: 175;
  display: none;
}

#300-time-colon {
  font-size: 100;
  font-family: Seville-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-140;
  y: 168;
  display: none;
}

#300-time-minute10 {
  font-size: 100;
  font-family: Colfax-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-80;
  y: 175;
  display: none;
}

#300-time-minute1 {
  font-size: 100;
  font-family: Colfax-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-20;
  y: 175;
  display: none;
}

#300-am-pm {
  font-size: 40;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: middle;
  x: 100%-155;
  y: 220;
  fill: white;
  display: none;
}

#300-second10 {
  font-size: 40;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: end;
  x: 100%-44;
  y:220;
  fill: white;
  display: none;
}

#300-second1 {
  font-size: 40;
  font-family: Colfax-Regular;
  text-length: 120;
  text-anchor: end;
  x: 100%-20;
  y:220;
  fill: white;
  display: none;
}

#300-tz1-icon {
  width: 36;
  height: 36;
  x: 3%;
  y: 190;
  display: none;
}

#300-tz21-icon {
  width: 36;
  height: 36;
  x: 3%;
  y: 190;
  display: none;
}

#300-tz1-hour10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 3%+54;
  y: 220;
  fill: white;
  display: none;
}

#300-tz1-hour1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 3%+72;
  y: 220;
  fill: white;
  display: none;
}

#300-tz1-colon {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 3%+82;
  y: 220;
  fill: white;
  display: none;
}

#300-tz1-minute10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 3%+100;
  y: 220;
  fill: white;
  display: none;
}

#300-tz1-minute1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 3%+118;
  y: 220;
  fill: white;
  display: none;
}

#300-tz2-icon {
  width: 36;
  height: 36;
  x: 97%-118;
  y: 60;
  display: none;
}

#300-tz2-hour10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-64;
  y: 90;
  fill: white;
  display: none;
}

#300-tz2-hour1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-46;
  y: 90;
  fill: white;
  display: none;
}

#300-tz2-colon {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-36;
  y: 90;
  fill: white;
  display: none;
}

#300-tz2-minute10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-18;
  y: 90;
  fill: white;
  display: none;
}

#300-tz2-minute1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%;
  y: 90;
  fill: white;
  display: none;
}

#300-tz2a-icon {
  width: 36;
  height: 36;
  x: 97%-118;
  y: 190;
  display: none;
}

#300-tz2a-hour10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-64;
  y: 220;
  fill: white;
  display: none;
}

#300-tz2a-hour1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-46;
  y: 220;
  fill: white;
  display: none;
}

#300-tz2a-colon {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-36;
  y: 220;
  fill: white;
  display: none;
}

#300-tz2a-minute10 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%-18;
  y: 220;
  fill: white;
  display: none;
}

#300-tz2a-minute1 {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 18;
  text-anchor: end;
  x: 97%;
  y: 220;
  fill: white;
  display: none;
}

#hr {
  x: 3%;
  y: 30;
}

#hr-count {
  text-anchor: start;
  font-size: 22;
  font-family: Seville-Bold-Condensed;
  fill: #969696;
  x: 6;
  y: 0;
}

#hr-resting {
  text-anchor: start;
  font-size: 22;
  font-family: Seville-Bold-Condensed;
  fill: #969696;
  x: 0;
  y: 22;
}

#hr-zone {
  text-anchor: start;
  font-size: 22;
  font-family: Seville-Bold-Condensed;
  fill: #969696;
  text-length: 120;
  x: 0;
  y: 44;
  display: none;
}

#hr-icon-systole {
  fill: crimson;
  width: 30;
  height: 30;
  x:45;
  y:-10;
}

#hr-icon-diastole {
  fill: crimson;
  width: 36;
  height: 36;
  x:43;
  y:-12;
}

#battery {
  x: 35%;
  y: 15;
  display: none;
}

#battery-percent {
  text-anchor: start;
  font-size: 22;
  font-family: Seville-Bold-Condensed;
  fill: white;
  x: 22;
  y: 18;
}

#calendar {
  x: 100%-3%;
  y: 30;
}

#day {
  x: 0;
  y: 5;
  font-size: 24;
  text-anchor: end;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  fill: #969696;
}

#date {
  x: 0;
  y: 28;
  font-size: 24;
  text-anchor: end;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  fill: #969696;
}

#steps {
  display: "none";
}

#distance {
  display: "none";
}

#bm {
  display: "none";
}

#elevationGain  {
  display: "none";
}

#calories  {
  display: "none";
}

#activeMinutes {
  display: "none";
}


#bmr-zone {
  text-anchor: start;
  font-size: 16;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  fill: darkorange;
  x:5;
  y:10;
  display: none;
}

#bmi-zone {
  text-anchor: start;
  font-size: 16;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  fill: darkorange;
  x:5;
  y:25;
  display: none;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.count {
  font-size: 22;
  x: 26;
  y: 15;
  text-length: 10;
  font-family: Seville-Bold-Condensed;
}
